.play-list-item {
    padding: 9px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 5x;
    cursor: pointer;
}
.play-list-item:hover {
    background-color: rgb(238, 237, 237);
}

.play-list-item-box {
    flex: 1;
    display: flex;
    gap: 16px;
    padding-bottom: 9px;
}

.play-list-item-top {
    display: flex;
    align-items: center;
    gap: 8px;
}

.play-list-item-profile-box {
    align-items: center;
    width: 32px;
    height: 32px;
}

.play-list-item-profile-image {
    border-radius: 50% 50%;
    align-items : stretch;
    width: 100%;
    height: 100%;
    background-position: 50% 50%;
    background-size: 200%  200%;
}

.play-list-item-write-box {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.play-list-item-nickname {
    color: rgba(0 ,0 ,0 ,0.7);
    font-size: 14px;
    font-weight: 500;
    line-height: 140%;
}

.play-list-item-write-date {
    color: rgb(82, 82, 82);
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    padding-bottom: 5px
}

.play-list-item-middle {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.play-list-item-title {
    color: rgba(0, 0, 0, 1);
    font-size: 30px;
    font-weight: 500;
    line-height: 140%;
}

.play-list-item-content {
    color: rgba(0, 0, 0, 0.7);
    font-size: 12px;
    font-weight: 400;
    line-height: 140%;
}

.play-list-item-bottom {
    margin-left: auto;

    
}

.play-list-item-counts {
    color: rgba(0, 0, 0, 0.7);
    font-size: 14px;
    font-weight: 400;
    

}

.play-list-item-image{
    border-radius: 10px 10px;
    width: 100%;
    height: 100%;
    background-position: 50% 50%;
    background-size: 100% 100%;
}


.play-list-item-video {
    width: 100%;
    height: 100%;

    
}